<p>Daaler's Cards</p>
<div class="row-fluid">
  <ul class="thumbnails">
    <% session[:dealer].cards.each_with_index do |card, id| %>
      <li class="thumbnail span2">
        <% if id.eql?(0) && @stat != "end" %>
          <img class="img-rounded" src="/images/cards/cover.jpg" alt="dsdas" />
        <% else %>
          <img class="img-rounded" src=<%= card.load_path %> alt="dsdas" />
        <% end %>
      </li>
    <% end %>

    <% if @stat.eql?("vacation") %>
      <li class="thumbnail span2">
      <form action="/game/dealer/hit" method="POST" style="float: right">
        <input type="submit" value="Deal Card" class= "btn btn-success btn-large" />
      </form>
      </li>
    <% end %>

  </ul>
</div>
<p>Your Cards</p>
<div class="row-fluid">
  <ul class="thumbnails">
    <% session[:player].cards.each do |card| %>
      <li class="thumbnail span2">
      <img class="img-rounded" src=<%= card.load_path %> alt=<%= card.to_s %> />
      </li>
    <% end %>
    <li class="span2">
      <h4> Points : <strong> <%= session[:player].total %> </strong> </h4>
      <h6>Golds: $<%= session[:gold] %>.Bet: $<%= session[:bet] %></h6>

    <% if @stat.eql?("play") %>
      <p>To be, or not to be.That is the question</p>
      <form action="/game/player/hit" method="POST" style="float: right; margin-right: 10px;">
        <input type="submit" value="Hit" class= "btn btn-danger" />
      </form>
      <form action="/game/player/stay" method="POST" style="float: left">
        <input type="submit" value="Stay" class= "btn btn-warning" />
      </form>
    <% elsif @stat.eql?("vacation") %>
      <p class="alert">Now, it is the Dealer's Turn<p/>
    <% elsif @stat.eql?("end") %>
      <p>Now, this round is end.Click the Button to start another game</p>
      <form action="/game" method="GET" style="float: middle">
        <input type="submit" value="Another GAME" class= "btn btn-primary btn-large" />
      </form>
    <% else %>

    <% end %>
    </li>

  </ul>

</div>
