<h3>Hello,<%= session[:name] %>!  Start game here</h3>
<h4>player <big><%= session[:player].name %></big> comes in</h4>
show player's hands </br>
Player's hand is <%= session[:player].cards %></br>
Player'total :<%= session[:player].total %>
<div style="margin-top: 5px" display="block">
<form action="/game/player/hit" method="POST" style="float: left; margin-right: 10px;">
  Bet <small>($5-100)</small>: <input type="text" name="bet_amount" style="width: 25px"/>
  <input type="submit" value="Hit" class= "btn btn-success btn-large" />
</form>
<form action="/game/player/stay" method="POST" style="float: left">
  <input type="submit" value="Stay" class= "btn btn-warning btn-large" />
</form>
</div>



</br> </br> </br> </br> </br> </br>
<ul>
  <% session[:deck].cards.each do |card| %>
    <li> <%= card.to_s %></li>
  <% end %>
</ul>

